:root {
  --primaryColor:#7f1b1d;
  --secondaryColor: #ffff;
  --thirdColor: #091016;
  --font: 'Benne', serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.editButton{
  background-color: var(--primaryColor);
}
.editButton:hover {
  background-color: var(--thirdColor);
}
/* nav */
.navLogo {
  width: 100px;
  height: auto;
}

.nav li:hover  {
  border-radius: 8px;
 background-color: var(--primaryColor);
}

/* footer */
.containerFooter{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgFooter{
  width: 40px;
  height: auto;
}

.containerFooter i {
  color: var(--secondaryColor);
  font-size: 1.5rem;
}

.containerFooter i:hover {
  color: var(--primaryColor);
}

.imgShooter{
 background-image: url("../assets/img/hunt-showdown.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.imgLogo{
  width: 100px;
  height: 100px;
}

/* index*/
.containerImg{
  text-align: center;
  font-family: var(--font);
}

.containerImg h1 {
  font-weight: bold;
}

.containerImg p {
  font-size: 1.2rem;
}

.line{
  width: 300px;
  border-top: 2px solid var(--primaryColor);
  display: inline-block;
}

.awardIcon {
  width: 100px;
  height: auto;
  transition: all ease .7s;
}

.awardIcon:hover {
  transform: scale(1.5);
}

.containerVideo {
  width: 50rem ;
}

/*news*/
.container{
  font-family: var(--font);
}

/* media */
.mediaImg{
  width: 350px;
  height: auto;
  transition: all ease .8s;
}

.mediaImg:hover {
  transform: scale(1.1);
  opacity: .9;
}

/* personajes */
.tittlePj{
  color: white;
  font-weight: bold;
}
.textPj {
  font-family: var(--font);
  color: white;
}

.cardAnimated:hover {
 transform: translateY(-10px);
}
/* contacts */
.textlabel{
  font-family: var(--font);
  font-weight: bold;
  color: var(--thirdColor);
}
